#errorMessage{
    font-style: oblique; 
    vertical-align: middle;
    color: red;
    border-radius:.3em;
    font-size: 12px;
    margin: 11px;
    margin-bottom: 12px;
    font-size: 11px;
}

[hidden] {
    display: none;
 }